.App {
  text-align: center;
  background-color: white!important;
}

.App-logo {
  /* animation: App-logo-pulse infinite 10s linear; */
  height: 80px;
}

.App-header {
  height: 150px;
  padding: 20px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Details {
  display: inline-block;
  line-height: 24px
}

table {
  margin: 0 auto;
  padding: 2.0em;
  line-height: 24px;
}

.MuiTable-root-1 {
    width: 70%!important;
}

h3 {
  margin: 0;
}

.teal {
  background-color: #26A69A!important;
}